@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8;
    font-family: 'Roboto', sans-serif;
    height:100vh;
    
}

section.chat_section {
    width: 700px;
    /*this width is used for mobile screen*/
    max-width: 90%;
    background: #fff;
    box-shadow:2px 0px 8px 3px #B2B2B2;
}

.brand {
    padding: 12px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}

.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}

.message_area {
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}

#textarea {
    width: 100%;
    border: none;
    padding: 20px;
    font-size: 16px;
    outLine: none;
    background: #f8f7f7;
}

.message {
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

.incoming {
    background: #3744ad;
    color: #fff;
}

.outgoing {
    background: #b12968;
    color: #b8a2ac;
    margin-left: auto;
}

.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}